.pChapo {
    font-weight: bold;
}

.margin-top {
    margin-top: 10%;
}

.margin-bot {
    margin-bottom: 7%;
}

.neg-margin {
    margin-bottom: -10%;
}

@media only screen and (max-width: 768px) {
    .margin-top {
        margin-top: 20%;
    }

    .neg-margin {
        margin-bottom: -20%;
    }
}
